@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u_w4BMUTPHjxsI3wi_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}

.txt__normal {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.txt__normal--it {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.txt__bold {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.txt__bold--it {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.txt__awesome {
  font: normal normal normal 14px/1 FontAwesome;
}

/* VARIABLES ================================================*/
/* RESPONSIVE ================================================*/
/* ===========================================================*/
main {
  position: realative;
  height: 100%;
}

main.overlay:before {
  position: fixed;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
  body[data-bs-theme="dark"] main.overlay:before {
    background-color: #00000066;
  }

main {
  height: 100%;
  /* background: #003567; */
  /* color: #ffffff; */
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.wrapper-up {
  justify-content: left!important;
}
.c-sort {
  @media screen and (min-width: 375px) {
    margin-left: 5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILITY ===========================================================*/
.u-border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.u-transition {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.u-transition.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.u-transition.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.resetDefaultApparence {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
}

.resetDefaultApparence::-ms-expand {
  display: none;
}

/* STYLE ===========================================================*/
main nav {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 50;
  background: #5e4f2614;
  backdrop-filter: blur(10px);
}
  body[data-bs-theme="dark"] main nav {
    background: #5e4f2600;
  }

main nav>.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* color: #ffffff; */
  letter-spacing: 2px;
  font-size: 13px;
  @media screen and (min-width: 768px) {
    padding: 0 20px;
  }
}
  body[data-bs-theme="dark"] main nav>.wrapper {
    color: #ffffff;
  }

main nav>.wrapper a {
  /* color: #ffffff; */
  text-decoration: none;
  margin-left: 10px;
}
body[data-bs-theme="dark"] main nav>.wrapper a {
  color: #ffffff;
}

.c-monthyear {
  display: flex;
}

.c-month {
  position: relative;
  height: 80px;
  line-height: 80px;
}

.c-month #c-paginator {
  position: relative;
  width: 200px;
  display: block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
}

.c-month #c-paginator .c-paginator__month {
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}

.c-month #c-paginator .c-paginator__month:nth-child(1) {
  left: 0;
}

.c-month #c-paginator .c-paginator__month:nth-child(2) {
  left: 200px;
}

.c-month #c-paginator .c-paginator__month:nth-child(3) {
  left: 400px;
}

.c-month #c-paginator .c-paginator__month:nth-child(4) {
  left: 600px;
}

.c-month #c-paginator .c-paginator__month:nth-child(5) {
  left: 800px;
}

.c-month #c-paginator .c-paginator__month:nth-child(6) {
  left: 1000px;
}

.c-month #c-paginator .c-paginator__month:nth-child(7) {
  left: 1200px;
}

.c-month #c-paginator .c-paginator__month:nth-child(8) {
  left: 1400px;
}

.c-month #c-paginator .c-paginator__month:nth-child(9) {
  left: 1600px;
}

.c-month #c-paginator .c-paginator__month:nth-child(10) {
  left: 1800px;
}

.c-month #c-paginator .c-paginator__month:nth-child(11) {
  left: 2000px;
}

.c-month #c-paginator .c-paginator__month:nth-child(12) {
  left: 2200px;
}

.c-month .prev,
.c-month .next {
  position: absolute;
  display: block;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 9px 12px;
  background-color: #b29036;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
  body[data-bs-theme="dark"] .c-month .prev,
  body[data-bs-theme="dark"] .c-month .next {
    background-color: #5e4f26;
  }

.c-month .prev.long,
.c-month .next.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-month .prev.elastic,
.c-month .next.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.c-month .prev {
  left: 0;
}

.c-month .prev:hover {
  padding: 9px 10px;
  background-color: #c49f3e;
}
  body[data-bs-theme="dark"] .c-month .prev:hover {
    background-color: #8a712e;
  }

.c-month .next {
  right: 0;
}

.c-month .next:hover {
  padding: 9px 14px;
  /* background-color: #8a712e; */
}
  body[data-bs-theme="dark"] .c-month .next:hover {
    background-color: #8a712e;
  }

.c-paginator__year {
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
  @media screen and (min-width: 375px) {
    padding: 0 20px;
  }
}

.o-btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  background-color: #b29036;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
  body[data-bs-theme="dark"] .o-btn {
    background-color: #5e4f26;
  }

.o-btn.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.o-btn.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.o-btn span {
  margin-left: 10px;
}

.o-btn:hover {
  background-color: #c49f3e;
}
  body[data-bs-theme="dark"] .o-btn:hover {
    background-color: #5e4f26;
  }

.c-calendar {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.c-calendar__style {
  background-color: #d4d4d4;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
  body[data-bs-theme="dark"] .c-calendar__style {
    background-color: #35332f;
  }

.c-cal__container {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    padding-bottom: 75%;
    width: calc(100% - 300px);
  }
}

.c-main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.c-main-01 {
  left: 0;
}

.c-main-02 {
  left: 100%;
}

.c-main-03 {
  left: 200%;
}

.c-main-04 {
  left: 300%;
}

.c-main-05 {
  left: 400%;
}

.c-main-06 {
  left: 500%;
}

.c-main-07 {
  left: 600%;
}

.c-main-08 {
  left: 700%;
}

.c-main-09 {
  left: 800%;
}

.c-main-10 {
  left: 900%;
}

.c-main-11 {
  left: 1000%;
}

.c-main-12 {
  left: 1100%;
}

.c-cal__row {
  display: flex;
  justify-content: flex-start;
}

.c-cal__col {
  width: calc(100% / 7);
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.c-cal__cel {
  position: relative;
  width: calc(100% / 7);
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-cal__cel p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #b29c62;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
  body[data-bs-theme="dark"] .c-cal__cel p {
    background: #8a712e6b;
  }

.c-cal__cel::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.c-cal__cel:nth-child(7) p {
  background: #cda845;
}


.c-cal__cel:nth-child(6) p {
  background: #cda845;
}


.c-cal__cel:hover {
  /* background-color: #8a712e42 !important; */
}


.c-cal__cel:hover p {
  background: #987c32 !important;
}


.c-cal__cel.isSelected {
  background-color: #7d6d451f;
}


.c-cal__cel.isSelected p {
  /* background: #a38636; */
}


.c-cal__cel.isToday {
  background-color: #8a712e4f;
}


.c-cal__cel.isToday p {
  background: #856e30;
  color: aliceblue;
}


.c-cal__cel.other_month {
  /* color: rgba(255, 255, 255, 0.2); */
}

body[data-bs-theme="dark"] .c-cal__cel:nth-child(7) p {
  background: #8a712e;
}


body[data-bs-theme="dark"] .c-cal__cel:nth-child(6) p {
  background: #8a712e;
}


body[data-bs-theme="dark"] .c-cal__cel:hover {
  background-color: #8a712e42 !important;
}


body[data-bs-theme="dark"] .c-cal__cel:hover p {
  background: #8a712e !important;
}


body[data-bs-theme="dark"] .c-cal__cel.isSelected {
  background-color: #7d6d45c9;
}


body[data-bs-theme="dark"] .c-cal__cel.isSelected p {
  background: #a38636;
}


body[data-bs-theme="dark"] .c-cal__cel.isToday {
  background-color: #8a712e42;
}


body[data-bs-theme="dark"] .c-cal__cel.isToday p {
  background: #bf9b3c;
}


body[data-bs-theme="dark"] .c-cal__cel.other_month {
  color: rgba(255, 255, 255, 0.2);
}

.event:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
  z-index: 10;
  padding: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, calc(50% + 20px/2));
  -webkit-transform: translate(-50%, calc(50% + 20px/2));
}

/* .event--birthday:before {
  background-color: #facc2e;
}

.event--festivity:before {
  background-color: #10ddc2;
}

.event--important:before {
  background-color: #f57170;
} */

.c-aside {
  padding: 20px;
  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.c-aside__day {
  font-size: 28px;
  margin: 50px 0;
}

.c-aside__day .c-aside__num {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.c-aside__event {
  position: relative;
  padding-left: 20px;
  margin: 20px 0;
}

.c-aside__event:before {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  left: 0;
  background-color: #f5f5f5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* .c-aside__event--birthday:before {
  background-color: #facc2e;
}

.c-aside__event--festivity:before {
  background-color: #10ddc2;
}

.c-aside__event--important:before {
  background-color: #f57170;
} */

.c-event__creator {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 500px;
  max-height: 470px;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0.9);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
}

.c-event__creator.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-event__creator.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.c-event__creator form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.c-event__creator.isVisible {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand {
  display: none;
}

input {
  height: 40px;
}