
/* Colores por defecto */

body[data-bs-theme="dark"] {
  background-color: #2e2e2e;
}
body[data-bs-theme="light"] {
  background-color: #ebebeb;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #5e4f26;
}
body[data-bs-theme="light"] .nav-pills {
  --bs-nav-pills-link-active-bg: #8a712e;
}

body[data-bs-theme="light"] .img_bn {
  filter: invert(1);
}

.form-check-input:checked {
  background-color: #8a712e;
  border-color: #8a712e;
}

body[data-bs-theme="dark"] .aside {
  background-color: #3c3c3c;
}
body[data-bs-theme="light"] .aside {
  background-color: #e5e5e5;
}
.aside {
  position: fixed;
  top: 0;
  width: 350px;
  height: 100vh;
  transform: translateX(-350px);
  transition: transform 0.3s;
}
@media screen and (max-width: 1023px) {
  .aside {
    width: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .aside {
    transform: translateX(0px);
  }
}

body[data-bs-theme="dark"] .header {
  background-color: #323232;
}
body[data-bs-theme="light"] .header {
  background-color: #dadada;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .header {
    width: calc(100% - 350px);
    margin-left: 350px;
  }
}

.main {
  /* min-height: 100vh; */
  /* min-height: 93vh; */
  margin-left: 0px;
  margin-top: 50px;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .main {
    margin-left: 350px;
  }
}

body[data-bs-theme="dark"] thead th {
  background-color: #32373b;
}


body[data-bs-theme="dark"] .btn {
  color: #dbdbdb!important;
}
body[data-bs-theme="dark"] .btn-outline-primary {
  border-color: #5e4f26;
}
  body[data-bs-theme="dark"] .btn-outline-primary:hover {
    background-color: #5e4f26!important;
  }
  body[data-bs-theme="dark"] .btn-outline-primary:active {
    background-color: #5e4f26!important;
    border-color: #5e4f26!important;
  }
body[data-bs-theme="dark"] .btn .btn-outline-secondary, 
body[data-bs-theme="dark"] .btn .btn-secondary {
  background-color: #777879!important;
}



/* Funcionamiento del botón para mostrar/ocultar el aside */
.aside-hidden {
  transform: translateX(-350px);
}
.aside-hidden ~ .header,
.aside-hidden ~ .main {
  margin-left: 0px;
}
  .aside-hidden ~ .header {
    width: 100%;
  }
.aside-show {
  transform: translateX(0px);
}
.aside-show ~ .header,
.aside-show ~ .main {
  margin-left: 350px;
  width: calc(100% - 250px);
}
@media screen and (max-width: 1023px) {
  .aside-hidden {
    transform: translateX(-250px);
  }
  .aside-show ~ .header,
  .aside-show ~ .main {
    margin-left: 250px;
  }
}

.header nav i#desplegar-aside {
  cursor: pointer;
}
.header nav a#desplegar-aside2 {
  display: none;
}
@media screen and (max-width: 900px) {
  .header nav i#desplegar-aside {
    display: none;
  }
  .header nav a#desplegar-aside2 {
    display: block;
    cursor: pointer;
  }
}

.aside-nav>ul>li.nav-item {
  transition: transform 0.2s;
}
  .aside-nav>ul>li.nav-item:hover {
    transition: transform 0.2s;
    transform: scale(0.95);
  }


/* ---------------------------------------------------------- */



/* Clases para modificar cosas puntuales */

.oscurecer {
  filter: brightness(50%);
}
.claro {
  filter: brightness(100%);
}
.normal_text {
  text-decoration: none;
}
  body[data-bs-theme="dark"] .normal_text {
    color: #f0f9ff;
  }
  body[data-bs-theme="light"] .normal_text {
    color: #212529;
  } 
.form-login {
  max-width: 330px;
  padding: 1rem;

  /* height: 45vh; */
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.d-contents {
  display: contents;
}

.mh-70vh {
  max-height: 70vh;
}
.w-30 {
  max-width: 30rem;
}
.w-20px {
  width: 20px;
} 
.w-15rem {
  width: 15rem;
}
.w-10 {
  width: 10%;
}
.h-75px {
  height: 75px!important;
}
.h-20px {
  height: 20px;
}
.mt-5rem {
  margin-top: 5rem!important;
}
.mt-1_5rem {
  margin-top: 1.5rem;
}
.mt-2_5rem {
  margin-top: 2.5rem;
}
.mb-10rem {
  margin-bottom: 10rem;
}
.bw-0 {
  border-width: 0;
}
.gray {
  color: #676767;
}
.rt-rounded {
  border-radius: 0 0.4rem 0 0;
}
.lt-rounded {
  border-radius: 0.4rem 0 0 0;
}
.no_results {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  .no_results>p {
      font-size: 2rem;
      color: #3737376c;
  }
  body[data-bs-theme="dark"] .no_results>p {
    color: #fffafa8f;
}
.justify-content-around {
  justify-content: space-around!important;
}
.w-md-90 {
  width: 90%!important;
}
@media screen and (max-width:768px) {
  .w-md-90 {
    width: 100%!important;
  }
}

@media screen and (max-width:375px) {
  .logoHeader {
    width: 65%;
  }
}

/* Paginación */

.active>.page-link, .page-link.active {
  background-color: #5e4f26;
  border-color: #5e4f26;
}
.page-link{
  color: white;

}
body[data-bs-theme="light"] .page-link,
body[data-bs-theme="light"] .page-link.active {
  color: white;
  background-color: #b29036;
  border-color: #b29036;
}
body[data-bs-theme="light"] .page-link{
  color: #212529;
  background-color: #dcdcdc;
}
.page-link:focus {
  box-shadow: 0 0 0 0.25rem #5e4f266b;;
}
.page-link:hover {
  color: #c2b48f;
}


/* ------------------------------------- */

header {
  z-index: 99;
}


@media screen and (max-width: 767.5px) {
  .navbar-text {
    flex-direction: column;
    width: 100px!important;
    padding-top: 0!important;
  }  
}

.imgUsuario {
  height: 60px;
  width: 60px;
}

/* Calendario Recepcionista - Clientes */

.wrapper-up {
  width: calc(100% - 250px);
}


/* Calendario Recepcionista - Clientes */

.solicitudes {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
}
.solicitudes .card {
  @media screen and (min-width: 768px) {
    width: calc(50% - 2rem);
  }
}


/* Footer ------------------------------ */

footer {
  margin-top: 3%;
  padding: 50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}
      footer h4 {
          margin-top:0;
          margin-bottom:12px;
          font-weight:bold;
          font-size:16px;
      }
          footer ul {
              padding:0;
              list-style:none;
              line-height:1.6;
              font-size:14px;
              margin-bottom:0;
          }
              footer ul a {
                  color:inherit;
                  text-decoration:none;
                  opacity:0.6;
              }
              footer ul a:hover {
                  opacity:0.8;
              }
  footer .bloque.text {
      margin-bottom:36px;
  }
      footer .bloque.text p {
          opacity:0.6;
          margin-bottom:0;
      }
  footer .bloque.social {
      text-align:center;
  }
      footer .bloque.social > a {
          font-size:20px;
          width:36px;
          height:36px;
          display:inline-block;
          margin:0 8px;
          opacity:0.75;
          filter: contrast(0.95);
      }
      footer .bloque.social > a:hover {
          opacity:1;
      }
          footer .bloque.social > a img {
              width: 100%;
              height: 100%;
          }
  footer .copyright {
      text-align:center;
      padding-top:24px;
      opacity:0.3;
      font-size:13px;
      margin-bottom:0;
  }
@media (max-width:767px) {
  footer .bloque:not(.social) {
      text-align:center;
      padding-bottom:20px;
  }
  footer .bloque.text {
      margin-bottom:0;
  }
}
@media (max-width:991px) {
  footer .bloque.social {
      text-align:center;
      margin-top:20px;
  }
}

/* --------------------------------------- */