<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 bloque">
        <h4>Servicios</h4>
        <ul>
          <li><a href="../index.php">Inicio</a></li>
          <li><a href="./series.php">Series</a></li>
          <li><a href="./plataformas.php">Plataformas</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 bloque">
        <h4>Sobre Nosotros</h4>
        <ul>
          <li><a href="../index.php">VideoClub</a></li>
          <li><a href="">Equipo</a></li>
          <li><a href="../index.php">Saber más</a></li>
        </ul>
      </div>
      <div class="col-md-6 bloque text">
        <h4>VideoClub</h4>
        <p>En nuestro Videoclub, te ofrecemos una amplia selección de películas para alquilar. Desde emocionantes thrillers hasta comedias románticas, tenemos algo para todos los gustos. Navega por nuestras categorías y descubre tus favoritas.</p>
      </div>
      <div class="col bloque social">
        <a href="#"><img src="../assets/img/social_media/Social_media_instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="../assets/img/social_media/Social_media_facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="../assets/img/social_media/Social_media_X.svg" alt="Twiter"></a>
        <a href="#"><img src="../assets/img/social_media/Social_media_youtube.svg" alt="Youtube"></a>
      </div>
    </div>
    <p class="copyright">VideoClub © 2024</p>
  </div>
</footer>