<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 bloque">
        <h4>Servicios</h4>
        <ul>
          <li><a href=".">Inicio</a></li>
          <li><a href="#our_services">Servicios</a></li>
          <li><a href="#photographers">Fotógrafos</a></li>
          <li><a href="./controller/controlador_login.php">Acceder</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 bloque">
        <h4>Sobre Nosotros</h4>
        <ul>
          <li><a href="#about_us">aMano</a></li>
          <li><a href="#our_services">Servicios</a></li>
          <li><a href="#photographers">Fotógrafos</a></li>
        </ul>
      </div>
      <div class="col-md-6 bloque text">
        <h4>Fotografía aMano</h4>
        <p>En aMano, te ofrecemos servicios de fotografía personalizados y de alta calidad. Capturamos momentos especiales, desde bodas hasta retratos familiares. Utilizamos equipos de última generación y técnicas creativas para garantizar imágenes impresionantes. Explora nuestras galerías y descubre cómo podemos inmortalizar tus recuerdos más preciados.</p>
      </div>
      <div class="col bloque social">
        <a href="#"><img src="./assets/img/social_media/Social_media_instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="./assets/img/social_media/Social_media_facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="./assets/img/social_media/Social_media_X.svg" alt="Twiter"></a>
        <a href="#"><img src="./assets/img/social_media/Social_media_youtube.svg" alt="Youtube"></a>
      </div>
    </div>
    <p class="copyright">Fotografía aMano © 2024</p>
  </div>
</footer>